<!-- Service Area -->
<section class="home-service-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Smart Services</span>
            <h2>Paso Provide All Kind of Tech Solutions</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
        </div>

        <div class="row">
              {% for solution in solutions %}
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="image/{{ solution.poster}}" alt="service" />
                    </div>
                    
                    <div class="service-content">
                        <h3>{{ solution.title}}</h3>
                        <p>{{ solution.shortText}}</p>
                        
                        <a href="solutions-details.html" class="line-bnt">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Service Area -->